/*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#W1siMTAwIiwxMDAsbnVsbCwiMjAwIiw5MCxudWxsLCIzMDAiLDc3LG51bGwsIjQwMCIsNjUsbnVsbCwiNTAwIiw1MSxudWxsLCI2MDAiLDY1LG51bGwsIjcwMCIsNzcsbnVsbCwiODAwIiw5MCxudWxsLCI5MDAiLDEwMCxudWxsLCIxMDAwIiwxMDYsbnVsbF0sWyJSZWQiLDIwLCJNdXN0YXJkIiw5MCwiVHVycXVvaXNlIiwxODAsIkF6dXJlIiwyNTAsIkZ1Y2hzaWEiLDMyMF0sWyJhcGNhIiwiZmdUb0JnIiwiZXZlbiIsIiNmZmYiLCIjMDAwIiw1LCJwMyJdXQ
*/
:root {
  --red-100: oklch(0.97 0.02 20);
  --red-200: oklch(0.92 0.05 20);
  --red-300: oklch(0.86 0.08 20);
  --red-400: oklch(0.8 0.12 20);
  --red-500: oklch(0.72 0.17 20);
  --red-600: oklch(0.63 0.14 20);
  --red-700: oklch(0.54 0.12 20);
  --red-800: oklch(0.42 0.1 20);
  --red-900: oklch(0.31 0.07 20);
  --red-1000: oklch(0.11 0.03 20);
  --mustard-100: oklch(0.96 0.02 90);
  --mustard-200: oklch(0.92 0.05 90);
  --mustard-300: oklch(0.85 0.08 90);
  --mustard-400: oklch(0.79 0.12 90);
  --mustard-500: oklch(0.71 0.17 90);
  --mustard-600: oklch(0.61 0.14 90);
  --mustard-700: oklch(0.52 0.12 90);
  --mustard-800: oklch(0.41 0.1 90);
  --mustard-900: oklch(0.3 0.07 90);
  --mustard-1000: oklch(0.11 0.03 90);
  --turquoise-100: oklch(0.96 0.02 180);
  --turquoise-200: oklch(0.91 0.05 180);
  --turquoise-300: oklch(0.84 0.08 180);
  --turquoise-400: oklch(0.77 0.12 180);
  --turquoise-500: oklch(0.68 0.17 180);
  --turquoise-600: oklch(0.59 0.14 180);
  --turquoise-700: oklch(0.5 0.12 180);
  --turquoise-800: oklch(0.39 0.1 180);
  --turquoise-900: oklch(0.29 0.07 180);
  --turquoise-1000: oklch(0.11 0.03 180);
  --azure-100: oklch(0.96 0.02 250);
  --azure-200: oklch(0.92 0.05 250);
  --azure-300: oklch(0.85 0.08 250);
  --azure-400: oklch(0.79 0.12 250);
  --azure-500: oklch(0.7 0.17 250);
  --azure-600: oklch(0.61 0.14 250);
  --azure-700: oklch(0.52 0.12 250);
  --azure-800: oklch(0.41 0.1 250);
  --azure-900: oklch(0.3 0.07 250);
  --azure-1000: oklch(0.11 0.03 250);
  --fuchsia-100: oklch(0.97 0.02 320);
  --fuchsia-200: oklch(0.92 0.05 320);
  --fuchsia-300: oklch(0.86 0.08 320);
  --fuchsia-400: oklch(0.8 0.12 320);
  --fuchsia-500: oklch(0.73 0.17 320);
  --fuchsia-600: oklch(0.63 0.14 320);
  --fuchsia-700: oklch(0.54 0.12 320);
  --fuchsia-800: oklch(0.42 0.1 320);
  --fuchsia-900: oklch(0.31 0.07 320);
  --fuchsia-1000: oklch(0.11 0.03 320);
}
